/*
Font loading
*/

@font-face {
    font-family:"Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
    font-weight: normal;
    font-style: normal;
}

/*
Font classes
*/

/* Body text */
body, #tags li a, .button.regular {
  font-family: Arial, sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6, .sectionHeading, #tagLine h1, .ui-tabs .ui-tabs-nav li a, #contact input.submit, #commentform input[type="submit"], .wpcf7-submit, .carouselWrapper.small .blog li .blogDate p,.carouselWrapper .blog li .blogDate p, .blog.large .blogDate p, .blog.medium .blogDate p, .blog.post .blogDate p, .commentHeader .number, .button, .pricingTable .recurrence {
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}

/* Drop caps */
.dropCap1, .dropCap2, .dropCap3, .dropCap4{
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}

/* Menu */
.ddsmoothmenu, .ddsmoothmenu ul li ul li a{
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}

/* Page header title */
.pageTitle {
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}

/* Portfolio single next/previous nav */
.projectNav > ul > li{
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}

/* Custom buttons */
.customButtons .button, .customButton{
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}

/* sidemenu */
.sidemenu li a{
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}

/* FAQ question */
.faq .question{
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}

/* Pricing tables numbers */
.pricingTable .cost, .pricingTable .decimal{
  font-family: "Century Gothic", "Lucida Grande", Helvetica, Arial, 微软雅黑;
}